# GAPI URL (GraphQL)
# Default: http://localhost:8080/query
GAPI_URL=http://localhost:8080/query

# CustAPI URL (REST)
# Default: http://localhost:8000/api/v1
CUSTAPI_URL=http://localhost:8000/api/v1

S3_PUBLIC_URL=
S3_ENDPOINT=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=
S3_REGION=auto
